name: CI-CD to EC2

on:
  push:
    branches: [ main ]

jobs:
  test:
    name: Run Django Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: hello
          POSTGRES_USER: hello
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432

      redis:
        image: redis:7
        ports:
          - 6379:6379

    env:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: hello
      POSTGRES_USER: hello
      POSTGRES_PASSWORD: password

      REDIS_HOST: localhost
      REDIS_PORT: 6379

      SECRET_KEY: ci-secret
      DEBUG: "false"
      PYTHON_VERSION: "3.13"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync --no-dev

      - name: Run database migrations
        env:
          PYTHON_VERSION: "3.13"
          REDIS_HOST: localhost
          REDIS_PORT: 6379
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DB: hello
          POSTGRES_USER: hello
          POSTGRES_PASSWORD: password
          SECRET_KEY: ci-secret
          DEBUG: "false"
        run: uv run python src/manage.py migrate --noinput

      - name: Run Django tests
        env:
          PYTHON_VERSION: "3.13"
          REDIS_HOST: localhost
          REDIS_PORT: 6379
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DB: hello
          POSTGRES_USER: hello
          POSTGRES_PASSWORD: password
          SECRET_KEY: ci-secret
          DEBUG: "false"
        run: uv run python src/manage.py test

  deploy:
    name: Deploy to EC2
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Deploy application to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ secrets.REMOTE_APP_DIR }}

            git pull origin main

            docker-compose down
            docker-compose up -d --build

            docker-compose exec -T web python src/manage.py migrate --noinput
            docker-compose exec -T web python src/manage.py collectstatic --noinput
